* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainOpacity: rgba(0, 0, 0, 0.65);
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-main-color {
    background-image: radial-gradient(rgb(216, 188, 188), rgb(241, 197, 115), rgb(35, 110, 223));
}

.text-main-color {
    color: #5e1717;
}

.col-image-left {
    background-image: url('../../img/PublicImages/image-5.jpg');
    background-size: cover;
    height: 25em !important;
}

.col-image-right {
    background-image: url('../../img/PublicImages/image-9.jpg');
    background-size: cover;
    height: 25em !important;
}

.lost-image {
    background-image: url('../../img/PublicImages/image-2.jpg');
    background-size: cover;
    height: 25em !important;
    width: "720"
}

.homepage-carousel-title {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.form-control {
    background-color: transparent;
    border-radius: 10px;
    border-color: transparent;
    border-bottom-width: 2px;
    border-bottom-color: rgb(111, 92, 220);
    padding: 8px;
    opacity: 0.8;
}

.form-control:focus {
    background-color: rgba(229, 234, 180, 0.599);
    color: rgb(43, 42, 39); 
}

.book-div {
    width: 480px;
    height: 384px;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 25px;
    display: inline-block;
    border-radius: 20px;
    transition: all 0.2s;
    position: relative;
    animation: buttonMove .4s ease-out .2s;
    animation-fill-mode: backwards;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}

.btn:hover::after {
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0;
}

.main-color {
    background-color: #5e1717;
}

.main-color::after {
    background-color: #a94949;
}

@keyframes buttonMove {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}