.book-item {
    transition: transform 0.5s;
    background-color: $message-color;
    border-radius: 10px;
    animation: searchBookMove 0.4s ease-in;
}

.book-item:hover {
    transform: scale(1.02);
    filter: saturate(1.5);
    border-color: #3d096e;
    border-width: 1px;
    opacity: 0.85;
}

@keyframes searchBookMove {
    0% {
        opacity: 0;
        transform: translateX(150px) translateY(100px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(75px) translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}