.book-item {
    transition: transform 0.5s;
    background-color: #E6E6E6;
    border-radius: 10px
}

.book-item:hover {
    transform: scale(1.01);
    // filter: sepia(15%);
    filter: saturate(2);
    border-color: #3d096e;
    border-width: 1px;
    opacity: 0.85;
}