.register-container {
    background-image: linear-gradient(to right bottom, rgba(194, 74, 74, 0.6), rgba(159, 118, 29, 0.6)),
        url('../../../img/PublicImages/image-4.jpg');
    background-size: cover;
    .signup-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(97, 94, 165, 0.5);
        height: 750px;
        animation: blur2 .5s ease-in;

        .signup-form {
            background: linear-gradient(45deg ,rgb(76, 73, 125) 0%, rgb(105, 71, 7) 20% 30%, rgb(118, 118, 43) 50% 70%, rgb(42, 119, 42) 90% 100%);
            opacity: 0.75;
            width: 50%;
            margin: 20px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            box-shadow: 10px 10px 10px rgb(207, 160, 160);
            animation: zoomOut .5s ease-out;
        }
    }
}

@keyframes zoomOut {
    0% {
        filter: hue-rotate(90deg);
        transform: scale(1.5);
        border-radius: 0px;
    }

    50% {
        filter: hue-rotate(45deg);
        transform: scale(1.25);
        border-radius: 20px;
    }

    100% {
        filter: hue-rotate(0deg);
        transform: scale(1);
    }
}

@keyframes blur2 {
    0% {
        background-color: rgba(97, 94, 165, 0.9);
    }

    50% {
        background-color: rgba(97, 94, 165, 0.75);
    }

    100% {
        background-color: rgba(97, 94, 165, 0.5);
    }
}