.header {
    background-image: linear-gradient(to right bottom, rgba(194, 74, 74, 0.6), rgba(159, 118, 29, 0.6)),
        url('../../../../img/PublicImages/image-6.jpg');
    height: 75vh !important;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    animation: moveRight 0.5s ease-in;

    .heading-primary {
        font-size: 70px;
        font-weight: 600;
        animation: moveLeft 1s ease-out;
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(50px) rotate(25deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}