.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../../../img/PublicImages/image-6.jpg');
    height: 25em !important;
    .explore-btn {
        .explore-btn:hover {
            background-color: red;
        }
    }
}